@CHARSET "UTF-8";

#map {
	height: 100%;
	overflow: hidden;
}

#mapCanvas {
	width: 100%;
	height: 96%;
}

#mapLoadingMessage {
	display: none;
	border-radius: 10px;
	background: rgba(0, 0, 0, .6 );
	color: #fff;
	position: fixed;
	z-index: 999;
	width: 10em;
	height: 3em;
	margin: auto;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#mapLoadingMessage p {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 3em;
	line-height: 3em;
	font-family: Helvetica, Arial, sans-serif;
}

/* iPad, landscape */
@media only screen and (device-width: 768px) and (orientation:
	landscape) {
	#mapCanvas {
		height: 705px;
	}
}
/* iPad, portrait */
@media only screen and (device-width: 768px) and (orientation: portrait)
	{
	#mapCanvas {
		height: 961px;
	}
}
/* iPhone, landscape */
@media only screen and (min-device-width: 320px) and (max-device-width:
	480px) and (orientation: landscape) {
	#mapCanvas {
		height: 257px;
	}
}
/* iPhone, portrait */
@media only screen and (min-device-width: 320px) and (max-device-width:
	480px) and (orientation: portrait) {
	#mapCanvas {
		height: 417px;
	}
}


.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
}



.ui-btn-corner-tl {
	-moz-border-radius-topleft: 0.2em;
	-webkit-border-top-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 0.2em;
	-webkit-border-bottom-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 0.2em;
	-webkit-border-bottom-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 0.2em;
	-webkit-border-top-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
	-moz-border-radius-topright: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 0.2em;
	-webkit-border-bottom-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	-moz-border-radius-bottomright: 0.2em;
	-webkit-border-bottom-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
	-moz-border-radius-bottomright: 0.2em;
	-webkit-border-bottom-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 0.2em;
	-webkit-border-top-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
	-moz-border-radius-bottomleft: 0.2em;
	-webkit-border-bottom-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}
.ui-btn-corner-all {
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}

.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
